header {
    background-color: red;
    color: white;
    padding: 3px;
    text-align: center;
    font-size: large;
    border-radius: 10px;
}

.container {
    background-color: white;
    height: 60vh;
    margin: 3%;
    max-width: 100%;
    border: 3px  ridge;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.imagen {
    height: 350px;
    margin: 3%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

button {
    margin: 20px auto;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    display: block;
}

.footer {
    background-color: red;
    padding: 3px;
    font-size: large;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.img2{
    max-width: 100%;
}
.texto {
    margin-right: 20px;
  }
